/********************
 * GENERAL STYLES
 ********************/

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #F3F5F8;
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
}

a {
	color: $link-color;

	&:hover,
	&:focus {
		color: lighten($link-color, 6%);
		text-decoration: none;
	}
}

th {
	font-weight: 600;
}

.page-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 300;
}

.screen-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(#000, .8);
	z-index: 9999;

	@include max-screen($break-small - 1px) {
		z-index: 0;
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}

.copyright {
	margin-bottom: 0;
	text-align: right;
	font-size: 13px;

	@include max-screen($break-small - 1px) {
		text-align: center;
		position: relative !important;
	}
}




