<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 

<table>
  <tr ng-repeat="x in names">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://localhost:8080/IOTManager/app/rest/od")
    .then(function (response) {
    	alert('1');
    	$scope.names = response.data;
    
    }).catch(function (data) {
        // Handle error here
    	$scope.names = [{"Name":"Vineet", "Country" :"India" }];
    });
});
</script>

</body>
</html>