/********************
 * FORMS
 ********************/

legend {
	font-size: 18px;
}

.form-horizontal.label-left .control-label {
	text-align: left;
}

/* parsley js */
.parsley-errors-list {
	margin-top: 8px;
	
	li {
		color: $color-danger;
		font-size: 0.9em;
		margin-top: 3px;
	}
}