/********************
 * LAYOUT
 ********************/

#wrapper {
	.sidebar {
		@include transition(all .3s ease-in-out);

		width: $sidebar-width;
		height: 100%;
		float: left;
		background-color: $sidebar-bg-color;
		position: fixed;
		left: 0;
	}

	.main {
		@include transition(all .3s ease-in-out);

		width: calc(100% - #{$sidebar-width});
		left: 0;
		position: relative;
		float: right;
		background-color: #f5f5fa;
	}
	
	#sidebar-nav,
	.main {
		padding-top: 80px;
	}

	@include max-screen($break-small - 1px) {
		#sidebar-nav,
		.main {
			padding-top: 130px;
		}
	}
}

.layout-fullwidth #wrapper {
	.sidebar {
		left: -$sidebar-width;
	}

	.main {
		width: 100%;
	}

	.navbar {
		left: 0 !important;
	}

	.btn-toggle-fullwidth {
		color: $color-accent;
	}
}

.offcanvas-active {
	#wrapper {
		.sidebar {
			left: 0;
		}
		
		.main {
			width: 100%;
			position: relative;
			left: $sidebar-width;
		}
	}
}

.sidebar-minified {
	&.layout-fullwidth #wrapper .main {
		width: 100%;
	}

	#wrapper {
		.sidebar {
			width: $minified-sidebar-width;
			position: absolute;
			height: 100%;
		}

		.main {
			width: calc(100% - #{$minified-sidebar-width});
		}
	}

	.btn-toggle-minified {
		color: $color-accent;
	}
}

@include max-screen($break-1024) {
	#wrapper {
		.sidebar {
			left: -$sidebar-width;
		}

		.main {
			width: 100%;
		}

		.navbar {
			left: 0 !important;
		}

		.btn-toggle-fullwidth {
			color: $color-accent;
		}
	}

	.btn-toggle-minified {
		display: none;
	}
}

.main-content {
	padding: 28px 10px;
}

.navbar + .main-content {
	padding: 105px 0 28px 5px;

	@include max-screen($break-small - 1px) {
		padding-top: 155px;
	}
}

html.fullscreen-bg, 
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
	height: 100%;
}

.vertical-align-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-align-middle {
	display: table-cell;
	vertical-align: middle;
}

.right-sidebar {
	@include transition(all .3s ease-in-out);
	@include box-shadow(-5px 0 10px rgba(0,0,0,.08));

	position: fixed;
	right: -350px;
	width: 350px;
	height: 100%;
	padding: 25px 0;
	z-index: 99;
	background: $sidebar-bg-color;
	color: #fff;

	&.active {
		right: 0;
	}

	.heading {
		@include inline-block;
		
		margin: 0;
		font-size: 12px;

		i {
			margin-right: 5px;
			font-size: 16px;
		}
	}

	.widget-header {
		background-color: #394452;
		padding: 15px 25px;
		margin: 0 -25px 30px -25px;

		.show-all {
			float: right;
			font-size: 13px;
			line-height: 1.8;
		}
	}

	.date {
		font-size: 28px;
		font-weight: 300;
		margin-bottom: 0;
	}
}

.sidebar-widget {
	padding: 0 25px;
	margin-bottom: 50px;
}

.has-content-menu {
	.navbar + .main-content,
	.main-content .container-fluid {
		padding: 0;
	}

	.content-menu {
		width: 40%;
		position: absolute;
		background-color: #fff;

		.content-menu-left {
			@include transition(all .3s ease-in-out);

			float: left;
			width: 34%;
			height: 100%;
			padding: 30px;
			background-color: #fff;
		}

		.content-menu-right {
			@include transition(all .3s ease-in-out);

			float: right;
			width: 66%;
			height: 100%;
			padding: 30px 0;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			background-color: #fff;
		}
	}

	.content-right {
		@include transition(all .3s ease-in-out);

		width: 55%;
		float: right;
		margin: 30px 15px;
		padding-bottom: 20px;
	}

	.content-panel {
		@include border-radius(3px);

		background-color: #fff;
		border: 1px solid #ddd;
	}

	.btn-open-content-menu,
	.btn-close-content-menu,
	.btn-close-content-right {
		display: none;
	}

	@include min-screen($break-xlarge) {
		.content-menu {
			width: 30%;
		}

		.content-right {
			width: 67%;
		}
	}

	@include max-screen($break-1280 - 1px) {
		.content-menu,
		.content-right {
			float: none;
			width: auto;
		}

		.content-right {
			display: none;
			position: absolute;
			top: 8em;
			z-index: 9;
		}

		.content-menu {
			position: relative;

			.content-menu-left {
				@include box-shadow(0 2px 6px rgba(0,0,0,.08));

				position: absolute;
				left: -300px;
				width: 250px;
				float: none;
				z-index: 8;
			}

			.content-menu-right {
				float: none;
				width: 100%;
				top: 0;
				z-index: 9;

				/* disable scrolling */
				.slimScrollDiv,
				.sidebar-scroll {
					overflow: visible !important;
				}

				.slimScrollBar {
					display: none !important;
				}
			}
		}

		.btn-open-content-menu {
			display: block;
			float: left;
			position: relative;
			top: -4px;
			margin-right: 8px;
		}

		.btn-close-content-menu {
			display: block;
			position: absolute;
			top: 5px;
			right: 15px;
			font-size: 18px;
			color: #9fa9b5;
		}

		.btn-close-content-right {
			display: block;
			float: right;
			font-size: 18px;
			color: #9fa9b5;

			&:after {
				display: block;
				content: '';
			}
		}
	}
}





