/********************
 * WIDGETS
 ********************/

.quick-note {
	@include border-radius(3px);
	@include box-shadow(0 2px 6px rgba(0,0,0,.08));

	background: #fff;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 30px;

	.quick-note-title {
		margin-top: 0;
		font-size: 22px;
	}
}

.quick-note-create {
	.panel-footer {
		display: none;
	}
}

.quick-note-edit {
	margin-bottom: 0;
}