$bg-color: #fff;
$skin-font-color: #727b86;

@import "sidebar-nav";

.right-sidebar {
	.widget-header {
		background-color: #f5f5f5;
	}

	.list-project-progress {
		.project-name {
			color: $skin-font-color;
		}

		.percentage {
			color: $skin-font-color;
		}
	}

	.icon-app {
		border: 1px solid #eaeaea;
	}

	.list-file-simple a {
		color: $skin-font-color;

		&:hover,
		&:focus {
			color: darken($skin-font-color, 8%);
		}
	}

	.list-file-simple span {
		color: $skin-font-color;
	}

	.btn-default {
		border-color: #eaeaea;
		color: $skin-font-color;

		&:hover,
		&:focus {
			background-color: darken(#fff, 2%);
		}
	}
}

